<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/user', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/new', book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= attachment_image_tag(@user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40") %><br>
              　<%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td><%= @book.body %></td>
            <td>
            <%= link_to categories_index_path do %>
              <%= @book.category %>
            <% end %>
            </td>
            <td id="favorite_buttons_<%= @book.id %>" style="padding-left: 0;">
              <%= render 'favorites/favorite', book: @book %>
            </td>
            <td>コメント数：<%= @book.book_comments.count %></td>
            <td class="relative-book-rate">
              <span id="star-rate-<%= @book.id %>"></span>
              <script>
              　$('#star-rate-<%= @book.id %>').empty();
                $('#star-rate-<%= @book.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @book.rate %>
                });
              </script>
            </td>
            <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id="comments_area">
        <%= render 'book_comments/comment', book: @book %>
      </div>
      <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>